[submodule "ref/bal_addresses"]
	path = ref/bal_addresses
	url = https://github.com/BalancerMaxis/bal_addresses
	ignore = all
[submodule "ref/bal_tools"]
	path = ref/bal_tools
	url = https://github.com/BalancerMaxis/bal_tools
	ignore = all
