##eth-brownie==1.19.3

git+https://github.com/Tritium-VLK/brownie@master
prettytable
pandas
dotmap
#regex==2021.09.30 ## Fixes some issue with mac M1 and brownie 1.17

# dev; testing, linting and committing
