##eth-brownie==1.19.3
git+https://github.com/BalancerMaxis/bal_addresses@0.6.0
git+https://github.com/Tritium-VLK/brownie@master
prettytable==3.7.0
dotmap==1.3.30
pathlib==1.0.1
pandas==1.5.3

#regex==2021.09.30 ## Fixes some issue with mac M1 and brownie 1.17

# dev; testing, linting and committing
