datetime
pandas
requests
web3
git+https://github.com/BalancerMaxis/bal_addresses@main
git+https://github.com/BalancerMaxis/bal_tools.git@v0.1.12
dune-client
dataclasses-json
python-dotenv
tabulate
pydantic