name: Aura Locker Harvesting

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:

jobs:
  harvest_bribes:
    runs-on: ubuntu-latest
    outputs:
      pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
      pull-request-branch: ${{ steps.generate-branch-name.outputs.branch }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install -r tools/python/requirements.txt

      - name: Run script
        env:
          DRPC_KEY: ${{ secrets.DRPC_KEY }}
        run: |
          python tools/python/aura_locker_harvesting/harvest_bribes.py

      - name: Generate branch name
        id: generate-branch-name
        run: |
          echo "branch=aura-locker-harvest-$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
          echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "feat: harvest aura locker bribes - ${{ steps.generate-branch-name.outputs.date }}"
          title: "Aura Locker Harvest - ${{ steps.generate-branch-name.outputs.date }}"
          body: |
            Run result from [`tools/python/aura_locker_harvesting/harvest_bribes.py`](../blob/main/tools/python/aura_locker_harvesting/harvest_bribes.py)

            Output CSV files:
            * [Mainnet bribe claims](../tree/${{ steps.generate-branch-name.outputs.branch }}/MaxiOps/paladin_bribes/${{ steps.generate-branch-name.outputs.date }}/mainnet/bribe_claims_mainnet_${{ steps.generate-branch-name.outputs.date }}.csv)
            * [Mainnet tokens to sell](../tree/${{ steps.generate-branch-name.outputs.branch }}/MaxiOps/paladin_bribes/${{ steps.generate-branch-name.outputs.date }}/mainnet/tokens_to_sell_mainnet_${{ steps.generate-branch-name.outputs.date }}.csv)
            * [Arbitrum bribe claims](../tree/${{ steps.generate-branch-name.outputs.branch }}/MaxiOps/paladin_bribes/${{ steps.generate-branch-name.outputs.date }}/arbitrum/bribe_claims_arbitrum_${{ steps.generate-branch-name.outputs.date }}.csv)
            * [Arbitrum tokens to sell](../tree/${{ steps.generate-branch-name.outputs.branch }}/MaxiOps/paladin_bribes/${{ steps.generate-branch-name.outputs.date }}/arbitrum/tokens_to_sell_arbitrum_${{ steps.generate-branch-name.outputs.date }}.csv)
            * [Base bribe claims](../tree/${{ steps.generate-branch-name.outputs.branch }}/MaxiOps/paladin_bribes/${{ steps.generate-branch-name.outputs.date }}/base/bribe_claims_base_${{ steps.generate-branch-name.outputs.date }}.csv)
            * [Base tokens to sell](../tree/${{ steps.generate-branch-name.outputs.branch }}/MaxiOps/paladin_bribes/${{ steps.generate-branch-name.outputs.date }}/base/tokens_to_sell_base_${{ steps.generate-branch-name.outputs.date }}.csv)

          branch: ${{ steps.generate-branch-name.outputs.branch }}
          labels: "Automatic Payload"
          delete-branch: true

  run_reports:
    needs: harvest_bribes
    secrets: inherit
    uses: "BalancerMaxis/multisig-ops/.github/workflows/run_reports_reusable.yaml@main"
    with:
      pr_number: ${{ needs.harvest_bribes.outputs.pull-request-number }}
      checkout_ref: ${{ needs.harvest_bribes.outputs.pull-request-branch }}
