name: Generate new Authorizer Payloads

on:
  pull_request:
    types: [labeled, synchronize]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  gen_auth:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Restore Compiler Caches
        id: restore-compiler-caches
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.solcx
            ~/.vvm
          key: evm-compiler-caches

      - name: Setup Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Generate Add Permissions Payload
        if: ${{ github.event.label.name == 'Generate Authorizer' }}
        env:
          DRPC_KEY: ${{ secrets.DRPC_KEY }}
        run: |
          pwd
          pip3 install -r action-scripts/requirements-actions.txt
          python3 action-scripts/gen_add_permissions_payload.py

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Generate permissions add payload and tables
          commit_user_name: GitHub Actions
          commit_user_email: github-actions[bot]@users.noreply.github.com
          commit_author: Github Actions <noreply@users.noreply.github.com>

      - name: Clear Old Compiler Caches
        if: ${{ steps.restore-compiler-caches.outputs.cache-hit }}
        continue-on-error: true
        run: gh cache delete "evm-compiler-caches"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Save EVM Compiler Caches
        uses: actions/cache/save@v4
        with:
          path: |
            ~/.solcx
            ~/.vvm
          key: evm-compiler-caches
