name: Generate feeSweep payloads

on:
  pull_request:
    types: [ labeled, synchronize ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  LABEL: Sweep Fees

jobs:
  sweepFees:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tools/python
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    
    - name: Setup Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Run Sweep
      if: github.event.label.name == 'Sweep Fees'
      run: |
        pip install -r requirements.txt
        python3 sweepFees.py

    - name: Commit and push changes
      uses:  stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Generate Fee Sweep transaction builder jsons
        commit_user_name:  GitHub Actions
        commit_user_email: github-actions[bot]@users.noreply.github.com
        commit_author: Github Actions <noreply@users.noreply.github.com>